.product-card{
	grid-template-columns: 1fr 1fr;
	// grid-gap: 30px;

	.product-card__description{
		margin-top: 25px;
	}

	.card__desc{
		margin: 7px 0;
	}


	.card__btn{
		padding: 10px 20px;
		font-size: 18px;
		i{
			margin-right: 10px;
		}
	}

	.card__btn:hover{
		color: #fff !important;
		background: darken($red, 10) !important;
	}
}


.related{
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(4, 1fr);
}