.used-parts-gallery{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;

	&::-webkit-scrollbar{
		width: 7px !important;
		height: 7px !important;
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  background: #f1f1f1;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: #888;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	  background: #555;
	}


	img{
		width: auto;
		height: 200px;
		object-fit: cover;
	}
}

.used-parts__main{
	grid-template: repeat(2, auto) / 1fr 4fr;

	.used-parts__form{
		grid-area: 1/2; 
	}

	.card__btn:hover{
		color: #fff !important;
		background: darken($red, 10) !important;
	}
}

.loop-wrap{
	grid-area: 2
}

.loop{
	grid-template-columns: repeat(3, 1fr);
}