.card{
	// border: 1px solid rgba(0,0,0,.125);
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: $card_shadow;
	transition: all .3s ease;
	&:hover{
		box-shadow: $card_shadow_active;
	}

	&__body{
		padding: 1.125rem;
	}

	&__thumbnail{
		width: 100%;
		height: auto;
		max-height: 200px;
		object-fit: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&__pubdate{
		font-style: italic;
		opacity: .54;
		font-size: 13px;
	}
	&__title{
		margin-bottom: .75rem;
	}
	&__text{
		margin-bottom: 1rem !important;
	}

	&__btn{
		margin-top: 10px;
		padding: 6px 12px;
		font-size: 16px;
		border-radius: 5px;
		background: $accent_light;
		color: #fff;
		&:hover{
			background: transparent !important;
			color: $accent_light !important;
		}
	}

	&__key{
		font-weight: 700;
	}
}