.card{
	background: #fff;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: $card_shadow;
	transition: all .3s ease;
	&:hover{
		box-shadow: $card_shadow_active;
	}

	&__body{
		padding: 1.125rem;
	}

	&__thumbnail{
		width: 100%;
		height: auto;
		max-height: 200px;
		object-fit: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&__pubdate{
		font-style: italic;
		opacity: .54;
		font-size: 13px;
	}
	&__title{
		margin-bottom: .75rem;
	}
	&__text{
		margin-bottom: 1rem !important;
	}

	&__btn{
		margin-top: 10px;
		padding: 6px 12px;
		font-size: 16px;
		border-radius: 5px;
		color: #fff;
	}

	&__key{
		font-weight: 700;
	}


	.slick-prev, .slick-next{
	    width: 45px;
	    height: 45px;
	    &::before{
	    	height: 100%;
	    }
	}


	.slick-next{
		right: 10px;
	}
	.slick-prev{
		left: 10px;
	}
}