.header{
	position: relative;
	color: #fff;
	min-height: calc(100vh + 50px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	overflow: hidden;

	&::after{
		content: "";
		display: block;
		background: #fff;
		position: absolute;
		bottom: 0px;
		transform-origin: left bottom;
		width: 100%;
		height: 50px;
		border-radius: 200px 200px 0 0;

		@media (max-width: 600px){
			border-radius: 30px 30px 0 0;
		}
	}

	.mask{
		background: rgba(0,0,0,0.6);
		z-index: 0
	}


	.container{
		position: relative;
		z-index: 1;
	}
}

.heading{
	position: fixed;
	width: 100%;
	padding: 0 30px;
	top: 0;
	left: 0;
	z-index: 9999;
	color: #fff;
	transition: all .5s cubic-bezier(0.77,0,.175,1);
	// border-bottom: 1px solid #999;
	box-shadow: $main_shadow;

	.logo{
		width: 150px;
	}

	&.active, &.heading_style_2{
		color: #333;
		background-color: #fff;

		.target{
			background: $accent_light
		}

		.auth, .heading-cart{
			&:hover{
				color: $accent_light;
			}
		}
	}

	.heading-cart{
		margin-left: auto;
		margin-right: 25px;
		border: none;
	}


	.auth, .heading-cart{
		transition: all .3s ease;
		&:hover{
			color: $accent;
		}
		i{
			margin-right: 10px;
		}
	}
}


.phone-ring {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  background-color: #e73a35;
  position: fixed;
  z-index: 100;
  bottom: 70px;
  right: 70px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(#000, 0.3);

  &:hover{
  	.phone-ring__numbers{
  		transform: translateX(-80%);
  	}
  }


  .phone-ring__numbers{
  	width: 200px;
  	position: absolute;
  	transition: all .3s cubic-bezier(0.77,0,.175,1);
  	transform: translateX(100%);
  }

  .phone-ring__number{
  	display: block;
  	width: 100%;
  	margin: 10px 0;	
  	background: rgba(#e73a35, 0.9);
  	padding: 0 20px;
  	line-height: 40px;
  	font-size: 14px;
  	font-weight: 700;
  	transition: box-shadow .3s ease;
  	border-radius: 100px;
  	&:hover{
  		background: rgba(#e73a35, 1);
  		box-shadow: 0 5px 20px rgba(#e73a35, 0.3);
  	}
  }

  &:hover {
    color: #fff;
  }

  &::before {
    content: '';
    display: block;
    width: 250%;
    height: 250%;
    border-radius: 50%;
    border: 1px solid #e73a35;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: phone-circle-animate 1s ease-in-out infinite;
  }

  &::after {
    content: '';
    display: block;
    width: 160%;
    height: 160%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: rgba(#e73a35, 0.5);
    animation: phone-circle-fill-animate 2s ease-in-out infinite;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    animation: phone-icon-animate 1s ease-in-out infinite;
  }

  &__work-time{
  	position: absolute;
  	width: 200px;
  	font-size: 11px;
  	bottom: -60px;
  	text-align: center;
  	color: #e73a35;
  }

  @media (max-width: 767px) {
    right: 20px;
    bottom: 50px;

    .phone-ring__number{
    	background: #e73a35
    }
  }
}

@keyframes phone-circle-animate {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(0.5);
    opacity: 0.1;
  }
  30% {
    transform: translate(-50%, -50%) rotate(0) scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 0.1;
  }
}

@keyframes phone-circle-fill-animate {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(0.7);
    opacity: 0.2;
  }
  50% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 0.2;
  }
}

@keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20%,
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.main-nav{
	margin-left: 50px;

	&__item{
		padding: 25px 10px;
		font-size: 15px;
	}
}

.target {
	position: absolute;
	height: 4px;
	border-radius: 15px 15px 0 0;
	top: calc(100% - 4px);
	background: #fff;
	z-index: -1;
	transform: translateX(-60px);
	transition: all .5s cubic-bezier(0.77,0,.175,1);
}

.offer{
	padding-top: 370px;

	&__title{
		text-transform: uppercase;
		letter-spacing: 1px;
		span{
			color: $accent;
			font-weight: 600;
			// opacity: .75
		}
	}

	&__btn{
		margin: 30px 0 0;
		font-weight: 600;
		&:hover{
			background-color: #fff;
			color: #333;
		}
	}


	.mouse_scroll {
		display: block;
		cursor: pointer;
		margin: 0 auto 0 0;
		width: 24px;
		height: 100px;
		margin-top: 50px;
	}


	.m_scroll_arrows
	{
	  display: block;
	  width: 5px;
	  height: 5px;
	  -ms-transform: rotate(45deg); /* IE 9 */
	  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	  transform: rotate(45deg);
	   
	  border-right: 2px solid white;
	  border-bottom: 2px solid white;
	  margin: 0 0 3px 4px;
	  
	  width: 16px;
	  height: 16px;
	}


	.unu
	{
	  margin-top: 1px;
	}

	.unu, .doi, .trei
	{
	    -webkit-animation: mouse-scroll 1s infinite;
	    -moz-animation: mouse-scroll 1s infinite;
	    animation: mouse-scroll 1s infinite;
	  
	}

	.unu
	{
	  -webkit-animation-delay: .1s;
	  -moz-animation-delay: .1s;
	  -webkit-animation-direction: alternate;
	  
	  animation-direction: alternate;
	  animation-delay: alternate;
	}

	.doi
	{
	  -webkit-animation-delay: .2s;
	  -moz-animation-delay: .2s;
	  -webkit-animation-direction: alternate;
	  
	  animation-delay: .2s;
	  animation-direction: alternate;
	  
	  margin-top: -6px;
	}

	.trei
	{
	  -webkit-animation-delay: .3s;
	  -moz-animation-delay: .3s;
	  -webkit-animation-direction: alternate;
	  
	  animation-delay: .3s;
	  animation-direction: alternate;
	  
	  
	  margin-top: -6px;
	}

	.mouse {
	  height: 42px;
	  width: 24px;
	  border-radius: 14px;
	  transform: none;
	  border: 2px solid white;
	  top: 170px;
	}

	.wheel {
	  height: 5px;
	  width: 2px;
	  display: block;
	  margin: 5px auto;
	  background: white;
	  position: relative;
	  
	  height: 4px;
	  width: 4px;
	  border: 2px solid #fff;
	  -webkit-border-radius: 8px;
	          border-radius: 8px;
	}

	.wheel {
	  -webkit-animation: mouse-wheel 0.6s linear infinite;
	  -moz-animation: mouse-wheel 0.6s linear infinite;
	  animation: mouse-wheel 0.6s linear infinite;
	}

	@-webkit-keyframes mouse-wheel{
	   0% {
	    opacity: 1;
	    -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	  }

	  100% {
	    opacity: 0;
	    -webkit-transform: translateY(6px);
	    -ms-transform: translateY(6px);
	    transform: translateY(6px);
	  }
	}
	@-moz-keyframes mouse-wheel {
	  0% { top: 1px; }
	  25% { top: 2px; }
	  50% { top: 3px;}
	  75% { top: 2px;}
	  100% { top: 1px;}
	}
	@-o-keyframes mouse-wheel {

	   0% { top: 1px; }
	  25% { top: 2px; }
	  50% { top: 3px;}
	  75% { top: 2px;}
	  100% { top: 1px;}
	}
	@keyframes mouse-wheel {

	   0% { top: 1px; }
	  25% { top: 2px; }
	  50% { top: 3px;}
	  75% { top: 2px;}
	  100% { top: 1px;}
	}

	@-webkit-keyframes mouse-scroll {

	  0%   { opacity: 0;}
	  50%  { opacity: .5;}
	  100% { opacity: 1;}
	}
	@-moz-keyframes mouse-scroll {

	  0%   { opacity: 0; }
	  50%  { opacity: .5; }
	  100% { opacity: 1; }
	}
	@-o-keyframes mouse-scroll {

	  0%   { opacity: 0; }
	  50%  { opacity: .5; }
	  100% { opacity: 1; }
	}
	@keyframes mouse-scroll {

	  0%   { opacity: 0; }
	  50%  { opacity: .5; }
	  100% { opacity: 1; }
	}
}

.form{
	background-color: #fff;
	border-radius: 10px;
	padding: 20px 40px;
	&__title{
		margin-bottom: 20px;
	}

	.input-group{
		width: 100%;
		margin-bottom: 15px;

		&__input{
			width: 100%;
			border-radius: 5px;
			padding: 10px 20px;
			margin-bottom: 5px;
			border: 1px solid rgba(0,0,0,0.1);
		}

		&__help{
			text-align: left;
			display: block;
			color: red;
		}

		&__btn{
			background-color: $accent;
			color: #333;
			border-radius: 5px;
			margin-left: 0;
			display: block;
			padding: 10px 20px;
			&:hover{
				background-color: darken($accent, 10);
			}
		}
	}
}

.auth-form{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 500px;
	position: relative;
}

.quick-auth{

	span{
		font-size: 13px;
	}
	&__list{
		width: 100%;
		justify-content: center;
		margin-top: 15px !important;
		img{
			width: 24px;
			margin: 0 5px;
			transition: all .3s ease;

			&:hover{
				transform: translateY(-7px);
			}
		}
	}
}

.register-link{
	text-decoration: underline;
	font-size: 13px;
	display: block;
	margin-top: 15px;
	&:hover{
		color: red;
	}
}