.mob-nav{
	display: none;
	overflow-y: scroll;
	height: 97vh;
	position: fixed;
    top: 63px;
    background: #fff;
    left: 0;
    width: 100%;
    border-top: 1px solid silver;
    z-index: 9;

    &__item{
    	&--second{
    		padding-left: 0;
    	}
    }

    &__link{
    	padding: 15px 20px;
    	border-top: 1px solid rgba(128,128,128,.2);
    	font-family: "PT Sans";
    	font-size: 13px;
    	font-weight: 700;
    	color: #444;
    	text-transform: uppercase;
    	display: flex;
	    align-items: center;
	    justify-content: space-between;

	    &.active{
	    	i{
	    		transform: rotate(90deg);
	    	}
	    }
    }

    &__link--third{
    	font-size: 12px;
    	text-transform: unset;
    	font-weight: 400;
    	padding: 12px 15px 12px 25px;
    	border-top: unset;
    	line-height: 12px;
    }

    .sub-menu{
    	display: none;
    	margin-left: 10px;
    }
}

.burger{
	display: none;
}