.pagination{
	margin: 50px 0;

	&__list{
		align-items: center;
	}

	.prev,.next{
		font-size: 25px;
	}

	.prev{
		margin-right: 15px;
	}

	.next{
		margin-left: 15px;
	}

	&__item{
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: 1px solid $accent_light;
		border-radius: 100px;
		text-align: center;
		margin: 0 5px;
		transition: all .3s ease;

		&:hover,&.current{
			background: $accent_light;
			color: #fff;
		}
	

	}
}